<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="Mandy Flowers, jazz, bass, acoustic bass, electric bass, upright bass, San Francisco, California, Berkelee, Bay Area, Ray Brown, Charlie Haden ">
    <meta name="Description" content="Jazz acoustic bass player Mandy Flowers, her music, CD, and musical philosophy">

    <title>Mandy Flowers Jazz Acoustic Bass</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ovo" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:700i" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Mandy Flowers</div>
    <div class="address-bar"><i>Jazz Acoustic Bass</i></div>

    <!-- Navigation -->
    <nav id="nav-background" class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Mandy Flowers</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#performance">Performance</a>
                    </li>
                    <li>
                        <a href="#teaching">Teaching</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

      <div class="container">

          <div id="main-carousel" class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                              <img class="img-responsive img-full" src="static/img/mandy-main.jpg" alt="">
                            </div>
                            <div class="item">
                              <img class="img-responsive img-full" src="static/img/quoteslide.jpg" alt="">
                              
                            </div> 
                            <div class="item">
                              <img class="img-responsive img-full" src="static/img/mandy-handsfinal.jpg" alt="">
                            </div>
                            <div class="item">
                              <img class="img-responsive img-full" src="static/img/gatorfinal.jpg" alt="">
                            </div>
                            <div class="item">
                              <img class="img-responsive img-full" src="static/img/perf2final.jpg" alt="">
                            </div>                          
                          </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <!-- Headline below carousel-->
                    <br>
                    <h1 class="brand-name">Mandy Flowers</h1>
                    <h2>Jazz Acoustic Bass</h2>
                    <hr class="tagline-divider">
                    <h3>San Francisco Bay Area<br>
                     <a href="mailto:mandyflowers@gmail.com">mandyflowers@gmail.com</a><br>
                      650-616-9408 <br>
                      (voice only)
                    </h3>
                </div>
            </div>
          </div>
          <!-- Performance -->
          <div id="performance" class="row">
            <div class="box">
                <div class="col-lg-12">
                  <hr>
                  <h1 class="intro-text text-center">Performance</h1>
                  <hr>
                  <img class="img-responsive img-border img-left" src="static/img/perf2final-2.jpg" alt="">
                  <hr class="visible-xs">
                  <!-- Events Listing Here -->
                  <h3 class="title-text text-left">Upcoming Events</h3>
                  <p>See me play at XXX on XXX date and time, location XXX</p>

                  <!-- Video Clips -->
                  <div>
                    <h3 class="title-text text-left">Video Clips</h3>
                      <div class="side-by-side">
                        <a href="static/videos/Mandy_AloneTogether.mp4" target="_blank">Alone Together</a>
                      </div>
                      <div class="side-by-side">
                        <a href="static/videos/Mandy_RainyDay.mp4" target="_blank">Here's That Rainy Day</a>
                      </div>
                      <div class="side-by-side">
                        <a href="http://mandyflowers.com/sound_clips/ornithology.mp3" target="_blank">Third Video</a>
                      </div>   
                  </div>   

                  <!-- Audio Clips -->
                  <div>
                    <h3 class="title-text text-left">Audio Clips</h3>
                      <div class="side-by-side">
                        <a href="http://mandyflowers.com/sound_clips/ornithology.mp3" target="_blank">Ornithology</a>
                      </div>
                      <div class="side-by-side">
                        <a href="http://mandyflowers.com/sound_clips/freepeace.mp3" target="_blank">Stolen Moments</a>
                      </div>
                      <div class="side-by-side">
                        <a href="http://mandyflowers.com/sound_clips/ornithology.mp3" target="_blank">Free Peace</a>
                      </div>   
                  </div>     

                    <p>With impeccable time, a strong groove and a deep, beautiful sound, she creates smooth, supportive bass lines and expressive, melodic solos. With both reading and improvising skills, she has garnered experience in a wide range of performance types: small groups of all kinds, musicals, big band, free jazz, accompanying vocals and spoken word.</p> 
                    <p><strong>Available for local and touring performances; small group bandleader.</strong></p>

                    <br><br>    
                    <img class="img-responsive img-border img-left" src="static/img/cd_cover.gif" alt="">
                    <hr class="visible-xs">
                    <p><strong>"<u>Reflections</u>"</strong> is a one-hour CD of jazz standards and original compositions featuring Alex Murzyn on sax and Noel Melanio on piano. This instrumental collection thoughtfully illuminates styles from bebop to free, to bossa nova and ballad.</p>
                    <p>Read the <a href="jazz-article.html" target="_blank">review</a> from Jazz Improv Magazine, Vol. 3 No. 2.
                    </p>                       
                </div>
            </div>
          </div>
          <!-- Teaching -->
          <div id="teaching" class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h1 class="intro-text text-center">Teaching</h1>
                    <hr>
                    <img class="img-responsive img-border img-left" src="static/img/teaching.jpg" alt="">

                    <p><i>Mandy is a fantastic teacher who will get you beyond notes and technique and get you into the business of making music and being expressive on the instrument. - K. D.</i></p>
                    <p><i>Learning with Mandy has taught me the importance of trusting my ears and understanding the 
                    most important role of the bass - providing the rhythmic foundation.  As a result, the metronome is now
                    my best friend! - G. L.</i></p>

                    <p>Using an imaginative, personalized approach with individualized programs of study, Mandy assists students to gain the efficiency of good technique combined with attention to the big picture: the profound inquiry into true expression to find one’s own musical voice.</p>
                    <p><strong>Private students from beginner to professional now being accepted.</strong>
                    Long distance consultations also possible.</p>
                </div>
            </div>
          </div>  
        <!-- About -->
          <div id="about" class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h1 class="intro-text text-center">About</h1>
                    <hr>
                    <img class="img-responsive img-border img-left" src="static/img/aboutflip1.jpg" alt="">
                    <h3 class="title-text text-left">Philosophy</h3>
                    <p>The spirit of everything we are comes out in each note that we play. The beauty is in the carefully finished details, clarity of ideas, sincerity of emotion and the deep, warm timbre of the bass.
                    </p>
                    <h3 class="title-text text-left">Background</h3>
                    <p>Mandy is a Summa Cum Laude graduate of Berklee College of Music in Boston. She studied privately with Charlie Haden and Darek Oles for two years at Cal Arts, and bass grandmaster Ray Brown for seven years.</p>  
                    <p>See my Farewell to Ray Brown <a href="static/img/ray-article.pdf" target="_blank">article</a> from Jazz Steps.</p>
                    </p>
                </div>
            </div>
          </div>

          <!-- Contact -->
          <div id="contact" class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h1 class="intro-text text-center">Contact</h1>
                    <hr>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive img-border-left" src="static/img/gatorfinal-2.jpg" alt="">
                </div>
                <div class="col-sm-4" style="margin:auto;">
                      
                  <p><span class="glyphicon glyphicon-envelope"></span>
                  <strong><a href="mailto:mandyflowers@gmail.com"> mandyflowers@gmail.com</strong></a></p> 
                  <p><span class="glyphicon glyphicon-envelope"></span>
                  <strong><a href="mailto:flowers_mandy@hotmail.com"> flowers_mandy@hotmail.com</a></strong></p>
                  <p><span class="glyphicon glyphicon-phone-alt"></span> <strong> 650-616-9408 (voice only)</strong></p>
                      
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive img-border-right" src="static/img/bassbit1final.jpg" alt="">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

      </div>
    <!-- /.container -->

    <footer>
      <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <p>Copyright &copy; Mandy Flowers 2017</p>
            </div>
            <div class="col-md-4 text-center">
                <img id="scroll-tip" src="static/img/scrolltip.jpg">
            </div>
            <div class="col-md-4 text-center">
                <p>Website and photos: <a href="generosa.litton.com" 
                   target="_blank">Generosa Litton</a></p>
            </div>
        </div>
      </div>  
    </footer>

    <!-- Back to Top -->
    <a id="back-to-top" href="#" class="btn btn-default back-to-top" role="button" 
    title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
    <span class="glyphicon glyphicon-chevron-up"></span>
    </a>    

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <!-- My JavaScript -->
    <script src="static/js/mandy-main.js"></script>     

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
